@media (max-width: 900px) {
  .bg {
    background-color: #13112e;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    gap: 3rem;
  }

  .attencionContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon {
    font-size: 1.8rem;
  }

  .h1 {
    font-family: "Arial";
    font-size: 2rem;
    font-weight: 900;
    color: #ffffff;
  }

  .textContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .firstText {
    font-size: 0.9rem;
    color: #ffffff;
    font-family: "Aoboshi One";
  }

  .secondText {
    font-size: 0.9rem;
    color: #ffffff;
    font-family: "Aoboshi One";
    text-align: center;
  }

  .button {
    background-color: #ff1161;
    padding: 0.6rem 4.5rem;
    border-radius: 90px;
  }

  .bntText {
    color: #ffffff;
  }
}
