@media (max-width: 900px) {
  .bg {
    background-color: #13112e;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 15rem 2rem 2rem 2rem;
    gap: 3rem;
  }

  .attencionContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon {
    font-size: 1.8rem;
  }

  .h1 {
    font-family: "Arial";
    font-size: 2.5rem;
    font-weight: 900;
    color: #ffffff;
  }

  .textContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .firstText {
    font-size: 0.9rem;
    color: #ffffff;
    font-family: "Aoboshi One";
  }

  .secondText {
    font-size: 0.9rem;
    color: #ffffff;
    font-family: "Aoboshi One";
    text-align: center;
  }

  .form {
    border: 3px solid #d70d4f;
    border-radius: 4rem;
    padding: 3rem 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 15rem;
  }

  .h2 {
    font-family: "Arial";
    font-size: 1.6rem;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
  }

  .question {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0.8rem;
  }

  .label {
    font-family: "Arial";
    font-size: 1rem;
    color: #ffffff;
    margin-left: 0.8rem;
  }

  .input {
    padding: 1.1rem 1.5rem;
    border-radius: 22px;
    border: 2px solid #d70d4f;
    font-size: 1rem;
    font-family: "Arial";
  }

  .input:focus {
    border: 2px solid #640021;
  }

  .input::placeholder {
    color: gray;
    font-size: 1rem;
    font-weight: 700;
    font-family: "Arial";
    opacity: 80%;
  }

  .button {
    background-color: #ff1161;
    padding: 0.6rem 4.5rem;
    border-radius: 90px;
  }

  .iconHurt {
    font-size: 1.5rem;
  }
}
